/* Goal styling */
.log-page {
    background-color: rgba(156, 170, 156, 0.2);
    border: 3px solid rgb(109, 193, 114);
    border-radius: 10px;
}
.log-page h2{
    color: rgb(74, 253, 86);
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
}

.log-page h3{
    text-align: center;
    margin: 5px;
}
.log-page .form{
    padding: 15px;
    text-align: center;
}
.log-page .form label{
    font-size: 20px;
    color: rgb(74, 253, 86);
    padding: 15px;
}
.log-page .form button{
    all: unset;
    cursor: pointer;
    border: 2px solid rgba(58, 255, 32, 0.1);
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.5);
}

.log-page input {
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
}